
.customButton {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    border: 1px solid;
    border-radius: 6px;
    min-height: 35px;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    position: relative;
    transition: 0.3s linear;
    cursor: pointer;
    background-color: #fff;
}

@media(max-width: 600px){
    .customButton{
        font-size: 12px;
    }
}